<div class="wrapper">
    <section class="section-admin" style="background-image: url(../assets/images/background.png);">
        <div class="container">
        	<div class="section__body">
	        	<div class="cols">
	        		<div class="col col--1of3">
	        			
	        			<a href="#" class="logo">
	        				Dashboard Logo
	        			</a>

	        		</div><!-- /.col -->
	        		
	        		<div class="col col--1of2">
	        			
	        		</div><!-- /.col -->
	        	</div><!-- /.cols -->
        	</div><!-- /.section__body -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.section -->
</div>
<!-- /.wrapper -->