<div class="wrapper">
    <section class="section-admin" style="background-image: url(../assets/images/background.png);">
        <div class="container">
            <div class="section__body">
                <div class="cols">
                    <div class="col col--1of3">
                        <div class="section__aside">
                            <a href="#" class="logo">
                                <mat-icon>dashboard</mat-icon>
                                
                                <span>
                                	Logo	
                                </span>
                            </a>

							<nav class="nav-sidebar">
								<ul>
									<li>
										<a href="#">
											<mat-icon>event_available</mat-icon>

											<span>
												My task
											</span>
										</a>
									</li>

									<li>
										<a href="#">
											<mat-icon>folder</mat-icon>

											<span>
												My projects
											</span>
										</a>
									</li>
								</ul>
							</nav><!-- /.nav -->
                        </div>
                        <!-- /.section__aside -->
                    </div>
                    <!-- /.col -->

                    <div class="col col--1of2">
                        <div class="section__content">
                        	<div class="profile">
                        		<div class="profile__content">
									<nav class="nav-profile">
										<ul>
											<li>
												<a href="#">
													<span>
														Notifications
													</span>
													<mat-icon>
														notifications
													</mat-icon>	
												</a>
											</li>

											<li>
												<a href="#">
													<span>
														Messages
													</span>

													<mat-icon>message</mat-icon>
												</a>
											</li>

											<li>
												<a href="#">
													<img src="assets/images/avatar.png" alt="">
													<span>
														Hello {{ name }}
													</span>
												</a>
											</li>
										</ul>
									</nav><!-- /.nav -->
                        		</div><!-- /.profile__content -->
                        	</div><!-- /.profile -->
                        	
                        	<div class="grid">
                        		<div class="cols">
                        			<div class="col col-1of2">
                        				<div class="box">
                        					<div class="box__head">
                        						<h3>
                        							Profile Information
                        						</h3>
                        					</div><!-- /.box__head -->
                        					<div class="box__body">
                        						<div class="box__image">
                        							<img src="assets/images/profile_avatar.png" alt="">
                        						</div><!-- /.box__image -->
                        						<ul class="list-details">
                        							<li>
                        								<span>
                        									First Name:	
                        								</span>

                        								<strong>
                        									Emil
                        								</strong>
                        							</li>

                        							<li>
                        								<span>
                        									Last Name:	
                        								</span>

                        								<strong>
                        									Georgiev
                        								</strong>
                        							</li>

                        							<li>
                        								<span>
                        									Address:
                        								</span>

                        								<strong>
                        									Dublin Center
                        								</strong>
                        							</li>
                        						</ul><!-- /.list-details -->
                        					</div><!-- /.box__body -->
                        					
                        				</div><!-- /.box -->
                        			</div><!-- /.col col-1of2 -->

                        			<div class="col col-1of3">
                        				<div class="box">
                        					<div class="box__head">
                        						<h3>
                        							Activities
                        						</h3>
                        					</div><!-- /.box__head -->
                                            
                                            <div class="box__body">
                                                <canvas id="chart"> {{ chart }} </canvas>
                                            </div><!-- /.box__body -->
                        				</div><!-- /.box -->	
                        			</div><!-- /.col col-1of2 -->
                        		</div><!-- /.cols -->
                        	</div><!-- /.grid -->	
                        </div>
                        <!-- /.section__content -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.cols -->
            </div>
            <!-- /.section__body -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.section -->
</div>
<!-- /.wrapper -->