<div class="wrapper">
    <section class="section-admin" style="background-image: url(../assets/images/background.png);">
        <div class="container">
            <div class="section__body">
                <div class="cols">
                    <div class="col col--1of3">
                        <div class="section__aside">
                            <a href="#" class="logo">
                                <mat-icon>dashboard</mat-icon>

                                <span>
                                    Logo
                                </span>
                            </a>

                            <nav class="nav-sidebar">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <mat-icon>event_available</mat-icon>

                                            <span>
                                                My task
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <mat-icon>folder</mat-icon>

                                            <span>
                                                My projects
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <mat-icon>link</mat-icon>

                                            <span>
                                                Link 3
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <mat-icon>link</mat-icon>

                                            <span>
                                                Link 4
                                            </span>
                                        </a>
                                    </li>

                                    <li class="visible-xs-block">
                                         <a href="#">
                                            <mat-icon>
                                                notifications
                                            </mat-icon>

                                            <span>
                                                Notifications
                                            </span>
                                        </a>
                                    </li>

                                    <li class="visible-xs-block">
                                        <a href="#">
                                            <mat-icon>message</mat-icon>

                                            <span>
                                                Messages
                                            </span>
                                        </a>
                                    </li>

                                    <li class="visible-xs-block">
                                        <a href="#">
                                            <span>
                                                Hello {{ name }}
                                            </span>

                                            <img src="assets/images/avatar.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /.nav -->
                        </div>
                        <!-- /.section__aside -->
                    </div>
                    <!-- /.col -->

                    <div class="col col--1of2">
                        <div class="section__content">
                            <div class="profile">
                                <div class="profile__content">
                                    <nav class="nav-profile">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span>
                                                        Notifications
                                                    </span>
                                                    
                                                    <mat-icon>
                                                        notifications
                                                    </mat-icon>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <span>
                                                        Messages
                                                    </span>

                                                    <mat-icon>message</mat-icon>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <img src="assets/images/avatar.png" alt="">
                                                    
                                                    <span>
                                                        Hello {{ name }}
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- /.nav -->
                                </div>
                                <!-- /.profile__content -->
                            </div>
                            <!-- /.profile -->

                            <div class="grid">
                                <div class="cols">
                                    <div class="col col-1of2">
                                        <app-profile></app-profile>
                                        <app-activity></app-activity>
                                    </div>
                                    <!-- /.col col-1of2 -->

                                    <div class="col col-1of3">
                                        <app-processing></app-processing>
                                        <app-calendar></app-calendar>
                                    </div>
                                    <!-- /.col col-1of2 -->
                                </div>
                                <!-- /.cols -->
                            </div>
                            <!-- /.grid -->
                        </div>
                        <!-- /.section__content -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.cols -->
            </div>
            <!-- /.section__body -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.section -->
</div>
<!-- /.wrapper -->