<nav class="nav-sidebar">
    <ul *ngFor="let item of users">
        <li>
            <a href="#">
                <mat-icon>event_available</mat-icon>

                <span>
                    My task
                </span>
            </a>
        </li>

        <li>
            <a href="#">
                <mat-icon>folder</mat-icon>

                <span>
                    My projects
                </span>
            </a>
        </li>

        <li>
            <a href="#">
                <mat-icon>link</mat-icon>

                <span>
                    Link 3
                </span>
            </a>
        </li>

        <li>
            <a href="#">
                <mat-icon>link</mat-icon>

                <span>
                    Link 4
                </span>
            </a>
        </li>

        <li class="visible-xs-block">
            <a href="#">
                <mat-icon>
                    notifications
                </mat-icon>

                <span>
                    Notifications
                </span>
            </a>
        </li>

        <li class="visible-xs-block">
            <a href="#">
                <mat-icon>message</mat-icon>

                <span>
                    Messages
                </span>
            </a>
        </li>

        <li class="visible-xs-block">
            <a href="#">
                <img src="{{item.avatar}}.png" alt="">

                <span>
                    Hello {{ item.name }}
                </span>
            </a>
        </li>
    </ul>
</nav>
<!-- /.nav -->